body {
    background-color: #eee;
}

/*your code here*/

ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
 * html .ui-autocomplete {
    height: 200px;
  }


#tableHeader {
  font-weight: bold;
}


table {
	text-align: left;
	border-collapse: collapse;
}

h1 {
	font-family: 'Sniglet', serif;
}

body {
	margin-left: auto;
    margin-right: auto;
    max-width: 570px;
}

td {
	border-bottom: 1px solid #c5c5c5;
  	padding: 3px;
}

.firstRow {
  	border-bottom: 1px solid black;
}